
$color_header :black;
$border:3px solid white;
$header_background_image: "../assets/img/wood.jpg";
$content_background_image: "https://i.ibb.co/mHThKKx/Capture-2021-09-29-10-31-35-01.jpg";

.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    border: $border;
}

.header {
    order: 0;
    height: 80px;
    width: 100%;
    background-image: url($header_background_image) ;
    background-repeat: no-repeat;
    border-bottom: $border ;

  }
  
  .content {
    background-image: url($content_background_image); /* Set the background image for the .content div */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust background size to your preference */
    flex-grow: 1;
  }
  


