
$color_header :black;
$border:3px solid white;
$header_background_image: "../assets/img/wood.jpg";

.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 600px;
    background-color: aqua;
    margin: 0 auto;
    padding: 0;
    border: $border;
}

.header {
    order: 0;
    height: 80px;
    width: 100%;
    background-image: url($header_background_image) ;
    background-repeat: no-repeat;
    border-bottom: $border ;

  }
  
.content {
    order: 1;
  }
  


