<div class="game">

    <div class="house green greenhouse">
        <div class="box">
            <div class="square square-one green">
                
            </div>
            <div class="square square-two green">
                               
            </div>
            <div class="square square-three green">
                                
            </div>
            <div class="square square-four green">
                                
            </div>
        </div>
    </div>    

    <div class="house yellow yellowhouse">
        <div class="box">
            <div class="square square-one yellow">
                
            </div>
            <div class="square yellow square-two">
                               
            </div>
            <div class="square square-three yellow">
                                
            </div>
            <div class="square square-four yellow">
                               
            </div>
        </div>
    </div>
    
    <div class="house red redhouse">
        <div class="box">
            <div class="square square-one red">
                
            </div>
            <div class="square square-two red">
                            
            </div>
            <div class="square square-three red">
                                
            </div>
            <div class="square square-four red">
                                
            </div>
        </div>
    </div>  

    <div class="house gray grayhouse">
        <div class="box">
            <div class="square square-one gray">
                
            </div>
            <div class="square square-two gray">
                               
            </div>
            <div class="square square-three gray">
                                
            </div>
            <div class="square square-four gray">
                                
            </div>
        </div>
    </div>  

</div>