//.game
$game_height: 60%;
$game_width: 100%;

//.house
$house_size:37%;

//.box
$box_size:65%;

//for .square
$square_size: 25%;

//for .home
$home_top:50%;
$home_left:50%;
$home_height:26.5%;
$home_width:26.5%;


.game{
    position: relative;
    height: $game_height;
    width: $game_width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    //for .house
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.house{
    position: absolute;
    width:$house_size;
    height:$house_size;
    border: 1px solid rgb(4, 24, 36);
}

.greenhouse
{
    bottom: 0;
    left: 0;
}
.redhouse{
    bottom: 0;
    right: 0;
}
.yellowhouse
{
    right: 0;
    top: 0;
}
.grayhouse{
    left: 0;
    top: 0;
}

.box{
    position: relative;
    width: $box_size;
    height: $box_size;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.square{
    position: absolute;
    height: $square_size;
    width: $square_size;
    border: 1px solid black;
    border-radius: 50%;

}

.green {
    background-color: #01A147;
}
.red {
    background-color: #ec1d27;
}
.yellow {
    background-color: #ffe01b;
}
.gray {
    background-color: #29b6f6;
}


.square-one {
    top:12%;
    left:12%;
}
.square-two {
    top: 12%;
    right: 12%;
}
.square-three {
    bottom: 12%;
    left: 12%;
}
.square-four {
    bottom: 12%;
    right: 12%;
}

//Home
.home{
    position: absolute;
    top: $home_top;
    left: $home_left;
    width: $home_width;
    height: $home_height;
    border: 2px solid black;
    transform: translate(-50%, -50%);
    border-bottom: 10% solid #e53935;
}