<div class="game">
    <div class="house green greenhouse">
        <div class="box">
            <div class="square square-one green">
                
            </div>
            <div class="square square-two green">
                
               
            </div>
            <div class="square square-three green">
                
                
            </div>
            <div class="square square-four green">
                
                
            </div>
        </div>
</div>
