
$height: 100px;
$width: 100px;

.game{
    display: flex;
    flex-wrap: wrap;
}

.house {
    position: relative;
    width:50%;
    height:50%;
    border: 1px solid black;
    background-color:aquamarine;
}